/**
 * Variables
 */

$primary:       #eca54d !default;
$secondary:     darken(#29b5ff, 20%) !default;
$frama:         #6a5687 !default;
$soft:          #eb7239;

@import "bootstrap.scss";
@import "timeline.scss";

@import "partials/presentation.scss";
@import "partials/contact.scss";
@import "partials/header.scss";
@import "partials/quote.scss";
@import "partials/footer.scss";
@import "partials/donation.scss";

:root {
  --color-main-text: #222;
  --color-main-background: #fff;
  --color-main-background-translucent: rgba(var(--color-main-background), .97);

  --color-main-background-dark: darken(var(--color-main-background), 7%);
  --color-main-background-darker: darken(var(--color-main-background), 14%);

  --color-primary: $primary;
  --color-primary-text: #fff;

  --color-primary-text-dark: darken(var(--color-primary-text), 7%);
  --color-primary-element: var(--color-primary);
  --color-primary-element-light: lighten(var(--color-primary-element), 15%);

  --color-error: #e9322d;
  --color-warning: #eca700;
  --color-success: #46ba61;
}

/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local('Muli Light'), local('Muli-Light'), url('../fonts/Muli-Light.ttf') format('truetype');
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

span.frama { color: $frama; }
span.soft { color: $soft; }

p {
  margin-bottom: 15px;
  font-size: 18px;
}

// main img {
//   max-width: 100%;
//   height: auto;
//   margin: 40px auto;
// }

#app p:last-child {
  margin: 0;
}

/* Sections background */
body {
  // background: #211F20 url('../img/network.png') bottom center repeat-y;

  .container {
    background: #fff;
    // margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.how-it-works, .quote {
  &, .container {
    background: darken($primary, 10%);
    color: #333;
  }

  span.text-center {
    display: block;
  }
}

.contribute {
  .list-group-item {
    p {
      font-size: 0.9em;
    }
  }
}

.faq h2 {
  margin: 40px 0px;
}

.thumbnail img {
  margin:0;
}

