.header.container {
    margin-bottom: 10px;
    box-shadow: none;
    padding-bottom: 0;

    ul {
      li a, div.btn-group button, a.dropdown-item a {
        color: $secondary;

        &:hover {
          color: darken($secondary, 10%);
        }
      }

      div.btn-group {
        flex: 1 1 auto;
        text-align: center;
      }
    }
  
    & > div {
      align-items: center;
    }
    h1 {
      text-transform: uppercase;
      font-family: 'Muli', sans-serif;
      font-weight: bold;
  
      span {
        color: lighten($secondary, 10%);
        background: lighten($primary, 15%);
        border-radius: 3px;
      }
    }
  
    h2 {
      font-size: 1.5em;
    }
  }