<template>
  <div>
    <main>
      <section class="presentation">
        <b-container>
          <b-row align-v="center">
            <b-col md="8">
              <h2 class="text-secondary" v-html="$t('home.intro.title')"></h2>
              <!-- <h2 class="text-secondary" v-html="$t('home.intro.title2')"></h2> -->
            </b-col>
            <b-col class="text-center">
              <b-button size="lg" :href="$t('link.finance')" target="_blank" rel="noopener noreferrer" v-html="$t('home.intro.support')"></b-button>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section>
        <b-container>
          <b-row align-h="center">
            <b-col md="8">
              <p v-html="$t('home.what.text1')"></p>
              <p v-html="$t('home.what.text2')"></p>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section class="how-it-works" id="how-it-works">
        <b-container>
          <b-row>
            <b-col v-for="how in $t('home.how-it-works.how.text')" :key="how.title" md="4">
              <span class="text-center">
                <i :class="`fa fa-${how.icon} fa-5x`" aria-hidden="true"></i>
              </span>
              <h3 class="text-center" v-html="how.title"></h3>
              <p class="text-justify" v-html="how.text"></p>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section class="timeline" id="timeline">
        <b-container>
          <b-row align-v="center">
            <b-col order-md="2">
              <ul>
                <li :class="`li-${event.color}`" v-for="(event, index) in $t('home.timeline.events')" :key="index">
                  <div>
                    <span>{{ event.date }}</span>
                    <p>{{ event.text }}</p>
                  </div>
                </li>
              </ul>
            </b-col>
            <b-col md="6">
              <b-img
                thumbnail
                fluid-grow
                rounded
                center
                :alt="$t('home.timeline.image-alt')"
                :src="`${$root['/']}img/Services_Mobilizon.png`" />
            </b-col>
          </b-row>
        </b-container>
      </section>

      <!-- <section class="install" id="install">
        <b-container>
          <h2>{{ $t('home.install.title') }}</h2>
          <p
            v-for="(paragraph, index) in $t('home.install.text')"
            :key="index"
            v-html="paragraph"
          >
          </p>
        </b-container>
      </section> -->

      <section class="quote">
        <b-container>
          <b-row>
            <b-col>
              <blockquote class="blockquote text-right">
                <span v-html="$t('home.quote.text')"></span>
                <footer class="blockquote-footer"><a :href="$t('home.quote.blog.link')" v-html="$t('home.quote.blog.text')"></a></footer>
              </blockquote>
              <!-- <b-button size="lg" v-html="$t('home.why.blog.text')" :href="$t('home.why.blog.text')"></b-button> -->
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section class="donation" id="donation">
        <b-container>
          <b-row align-v="center" align-h="center">
            <b-col md="7">
              <h2 v-html="$t('home.donation.title')"></h2>
              <p v-for="(text, index) in $t('home.donation.texts')" :key="index" v-html="text"></p>
            </b-col>
            <b-col sm="3">
              <b-row align-h="center" align-v="center">
                <b-col v-for="(btn, index) in $t('home.donation.button')"
                  :key="index" order-md="2">
                  <b-button
                    size="lg"
                    target="_blank" rel="noopener noreferrer"
                    v-html="btn.text"
                    :href="btn.link"
                  ></b-button>
                </b-col>
                <b-col order-md="1">
                  <div class="frama-logo">
                    <b-img
                      fluid
                      :alt="$t('home.timeline.image-alt')"
                      :src="`${$root['/']}img/logo_frama.png`" />
                  </div>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <!-- <section class="contribute" id="contribute">
        <b-container>
          <h2 v-html="$t('home.contribute.title')"></h2>
          <p>{{ $t('home.contribute.text') }}</p>
          <b-list-group deck>
            <b-list-group-item v-for="idea in shuffle(Object.values($t('home.contribute.ideas')))" 
              :href="`${idea.link != undefined ? idea.link : '#'}`"
              target="_blank"
              :key="idea.title"
              class="flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5>{{ idea.title }}</h5>
                <i :class="`fa fa-${idea.icon}`" aria-hidden="true"></i>
              </div>
              <p class="mb-1">{{ idea.text }}</p>
            </b-list-group-item>
          </b-list-group>
        </b-container>
      </section> -->

      <section class="contact" id="contact">
        <b-container>
          <h3 v-html="$t('contact.title')"></h3>
          <b-row>
            <b-col md="4"><a rel="me" href="https://twitter.com/@joinmobilizon"><i class="fa fa-twitter" aria-hidden="true"></i> JoinMobilizon</a></b-col>
            <b-col md="4"><a rel="me" href="https://framapiaf.org/@mobilizon"><i class="fa fa-mastodon" aria-hidden="true"></i> Mobilizon</a></b-col>
            <b-col md="4"><a href="https://framagit.org/framasoft/mobilizon/"><i class="fa fa-gitlab" aria-hidden="true"></i> {{ $t('contact.source') }}</a></b-col>
            <b-col md="4"><a :href="$t('contact.forum.link')"><i class="fa fa-comments" aria-hidden="true"></i> Forum</a></b-col>
            <b-col md="4"><a href="https://riot.im/app/#/room/#Mobilizon:matrix.org"><i class="fa fa-matrix-org" aria-hidden="true"></i> Chat</a></b-col>
          </b-row>
        </b-container>
      </section>

      <section class="footer">
        <p>
          <span
            v-for="(credit, index) in $t('footer')"
            :key="index"
            v-html="credit"
          >
          </span>
        </p>
      </section>
    </main>
  </div>
</template>

<script>
import Header from '../partials/Header.vue';

export default {
  components: {
    Header,
  },
  mounted() {
      // check if an element is in viewport
      // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport

      // listen for events
    this.callbackFunc();
    window.addEventListener('resize', this.callbackFunc);
    window.addEventListener('scroll', this.callbackFunc);
  },
  methods: {
    // shuffle(a) {
    //   for (var i = a.length - 1; i > 0; i--) {
    //     const j = Math.floor(Math.random() * (i + 1));
    //     [a[i], a[j]] = [a[j], a[i]]
    //   }

    //   return a
    // },
    isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      },

    callbackFunc() {
      const items = document.querySelectorAll('.timeline li:not(.in-view)');
      for (let i = 0; i < items.length; i += 1) {
        if (this.isElementInViewport(items[i])) {
          items[i].classList.add('in-view');
        }
      }
    }
  }
}
</script>
