<template>
  <b-container class="header">
    <b-row align-h="between" align-v="center">
      <b-col md="5">
        <h1>Mobili<span>z</span>on</h1>
        <h2>
          <span v-for="(tag, index) in $t('home.intro.tags')" :key="index">{{ tag }}<span v-if="index < $t('home.intro.tags').length - 1"> ⋅ </span>
          </span>
        </h2>
      </b-col>
      <b-col md="4">
      <b-nav fill>
          <b-nav-item :href="$t('link.finance')" class="nav-item">{{ $t('menu.support') }}</b-nav-item>
          <li>
            <I18n/>
          </li>
      </b-nav>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import I18n from './I18n.vue'
export default {
  name: 'framaheader',
  components: {
    I18n,
  },
}
</script>

